<div class="answer">
<div class="question_author">
 <%= comment.name %>
</div>
<div class="question_body">
    <%= comment.body %><br>
</div>
<div class="tags">
<%= time_ago_in_words(comment.created_at) %><br>
</div>
<% if comment.name == current_user %>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, :class => 'delete_btn' %>
<% end %>
<% if comment.post.user_id == current_user.id %>
    <%= link_to 'Mark Correct', [comment.post, comment], :method => :update, :class=>'mark_as_correct_btn'%>
<% end %><br>
</div>