<head>
    <link rel="stylesheet" href="../../assets/stylesheets/question_poster.css">
    <%= stylesheet_link_tag "question_poster", :media => "all" %>
</head>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, :class => 'input_label' %>
    <%= form.text_field :title, :class => 'title data' %>
  </div>

  <div class="field">
    <%= form.label :body, :class => 'input_label' %>
    <%= form.text_area :body, :class => 'body data'  %>
  </div>

  <div class="field">
    <%= form.label :tag_list, :class => 'input_label' %>
    <%= form.text_field :tag_list, :class => 'title data' %>
  </div>

  <div class="actions input_label">
    <%= form.submit :submit, :class => 'submit' %>
  </div>
<% end %>
