<head>
  <link rel="stylesheet" href="../../assets/stylesheets/profilepage.css">
  <%= stylesheet_link_tag "profilepage", :media => "all" %>
  <link rel="stylesheet" href="../../assets/stylesheets/admin.css">
  <%= stylesheet_link_tag "admin", :media => "all" %>
</head>
<body>
    <p id="notice"><%= notice %></p>
    <div class="content">
        <div class="spacer"></div>
        <div class="question">
            <h1 class="question_title">
              <%= @post.title %>
            </h1>
            <div class="question_author">
                <%= @post.user.name %>
            </div>
            <div class="question_body">
                  <%= @post.body %>
            </div>
            <div class="tags" style="background-color: gray;">
                <%= @post.tag_list %>
            </div>
            <div class="options">
                <% if current_user == @post.user %>
                    <%= link_to "Delete", @post, method: :delete, data: {confirm: "You sure?"}, class: 'label alert delete_btn' %>                  
                <% end %>
            </div>
        </div>
        <div class="answer_section">
            <div class="answers">
                    <%= @post.comments.count %> answers
                    <%= render @post.comments%>
            </div>
            <% if user_signed_in? %>
            <div class="post_an_answer">
                <%= render 'comments/form' %>
                <!--<form action="post_an_answer.php" method="POST">
                    <textarea name="answer" id="answer" cols="40" rows="16"></textarea>
                    <input type="hidden" name="question_id" value="">
                    <input type="submit" value="Submit" class="submit" name="submit">
                </form>-->
            </div>
            <% end %>
        </div>
    </div>
</body>
</html>

<!--<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
-->