<head>
    <title>Railsproj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'header', :media => "all"%>
    <%= stylesheet_link_tag 'footer', :media => "all"%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function menu() {
            document.getElementById("inner_dropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.menuButton')   ) {
                if(document.getElementById("inner_dropdown").classList.contains('show')){
                    document.getElementById("inner_dropdown").classList.remove('show');
                }
            }
        } 
    </script>
  </head>
 <footer class="footer">
        <div class="footer_content">
            <div class="left">
                <h2 class="footer_logo">STACK<b>UNDERFLOW</b></h2>
                <div class="inner_foot_content left_foot">
                    <p class="item"><a href="../posts#show">Home</a></p>
                    <% if user_signed_in? %>
                        <p class="item"><a href="../users/edit">Profile</a></p>
                        <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> 
                    <% else %>
                    <p class="item"><a href="../users/sing_in">Sign In</a></p>
                    <p class="item"><a href="../users/sign_up">Sign Up</a></p>
                    <% end %>
                </div>
            </div>
            <div class="right">
                <h2 class="footer_logo2">STACK<b>UNDERFLOW</b></h2>
                <div class="inner_foot_content right_foot">
                    <p class="item"><a href="">About Us</a></p>
                    <p class="item"><a href="">Questions</a></p>
                </div>
            </div>
        </div>
    </footer>